<div class="container-xxl">
  {%- if page._appFooterIcon -%}
    <img src="{{ page._appFooterIcon }}" alt="Footer Icon" />
  {%- endif -%}

  {%- if page._appFooter -%}
    <span class="container">{{ page._appFooter }}</span>
  {%- endif -%}
</div>
