name: Build

on: [push, pull_request]
  
jobs:
  build:
    name: 'Build'
    runs-on: ubuntu-20.04

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup NodeJS
        uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: 'yarn'

      - name: Setup modules
        run: yarn

      - name: Build Project
        run: yarn run build